# MongoDB connection string
DB_MONGODB=mongodb+srv://<username>:<password>@data.gcxe8.mongodb.net/LOOT_FOCKER

# PayPal API credentials
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret